@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --dark-background-rgb: 18, 18, 18; /*#121212*/
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body,
body .color-transition-applied {
  @apply transition-colors duration-500;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark {
  color: rgb(var(--background-rgb));
  background: rgb(var(--dark-background-rgb));
}
