@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body {
  @apply transition-colors duration-500;
}

body.dark {
  color: rgb(var(--background-rgb));
  background: rgb(var(--foreground-rgb));
}
